html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: "Work Sans";
    color: #FFFFFF;
}
nav {
    display: inline-block;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}
ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
}
li {
    display: inline-flex;
    align-items: center;
}
h1 {

    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 67px;
    line-height: 73.7px;
}
h3 {
    margin:0;
    font-size: 38px;
    font-weight: 600;
    line-height: 45.6px;
    margin-bottom: 10px;
}
h4 {
    margin: 0;
}
h5 {
    font-family: "Work Sans";
    font-weight: 600;
    font-size: 22px;
    line-height: 30.8px;
    margin:0;
}
.header {
    background-color: #2B2B2B;
    max-width: 1280px;
    height: 804px;
    margin: auto;
}
.header_nav {
    height:100px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}
.logo{
    width:243px;
    height: 32px;
}
.container {
    padding-right:115px ;
    padding-left:115px ;
    padding-top: 80px;
    padding-bottom: 80px;
}
.header_nav {
    display: flex;
    justify-content: space-between;
}
.menu_item{
    align-items: center;
    margin-right: 25px;
    margin-left: 25px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 22.4px;
}

.signup {
    gap:12px;
    background-color: #A259FF;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 20px 30px;
    border-radius: 20px;
    max-width: 152px;
}
.header_content{
    gap: 30px;
    display: flex;
    justify-content: space-between;
}
.content_text{
    font-weight: 400;
    font-size: 22px;
    line-height: 35.2px;

}
.get_started_button {
    margin: 30px 0;
    gap:12px;
    background-color: #A259FF;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 20px 50px;
    border-radius: 20px;
    max-width: 224px;
}
.header_stats_list {
    display: block;
    min-width: 150px;
}
.header_stats{
    gap: 30px;
}
.header_numbers{
    font-family: "Space Mono";
    font-size: 28px;
    font-weight: 700;
    line-height: 39.2px;
}
.underline {
    font-weight: 400;
    font-size: 23.99px;
    line-height: 38.38px;
}
.highlighted_nft{
    background-color: #3B3B3B;
    border-radius: 20px;
    max-height: 510px;
}
.highlighted_nft_text {
    padding: 22px 20px;
}
.author {
    margin-top: 10px;
    gap: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    display: flex;
}



.rows {
    margin-top: 60px;
    gap: 30px;
}
.secondary_images {
    margin: 15px 0;
    gap: 15px;
}
.trending_collection_more {
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 22px;
    line-height: 35.2px;
    align-items: center;
    padding: 32.5px 16px;
    background-color: #A259FF;
    border-radius: 20px;
}
.trending_collection{
    background-color: #2B2B2B;
    max-width: 1280px;
    height: 836px;
    margin: auto;
}

.trending_row {
    display: block;
    max-width: 330px;
}


/*-----------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------*/


.top_rated_artists {
    background-color: #2B2B2B;
    max-width: 1280px;
    height: 1085px;
    margin: auto;
}
.heading_btn {
    max-width: 703px;
    display: block;
}
.heading_list {
    max-height: 91px;
}
.heading_btn_head {
    padding-top: 0;
    min-width: 703px;
}
.top_rated_artists_btn {

    margin-top: 31px;
    margin-left:100px;
    display: inline-block;

}
.view_rankings_btn{
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    gap:12px;
    display: flex;
    align-items: center;
    padding-left: 48px;
    padding-top: 20px;
    padding-right: 48px;
    padding-bottom: 20px;
    border-radius: 20px;
    border: 2px solid #A259FF;
    max-height: 60px;
}
.net {
    margin-top: 60px;
}
.creators_rows {
    margin-top: 30px;
    gap: 30px;
}
.creators {
    position: relative;
    gap: 15px;
    min-width: 240px;
    min-height: 238px;
    background-color: #3B3B3B;
    border-radius: 20px;
    display: block;
}
.numero {
    top: 18px;
    left: 20px;
    position: absolute;
    background-color: #2B2B2B;
    border-radius: 20px;
    color: #858584;
    font-family: "Space Mono";
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    padding: 4px 10px;
    display: inline-block;
}
.numero_duo {
    top: 18px;
    left: 20px;
    position: absolute;
    background-color: #2B2B2B;
    border-radius: 20px;
    color: #858584;
    font-family: "Space Mono";
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    padding: 4px 5px;
    display: inline-block;
}
.avatar_image {
    margin-top: 20px;
    margin-left: 65px;
    margin-bottom: 20px;
}
.artist_info {
    text-align: center;
}
.additional_info {
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #858584;
}
.additional_info_num {
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #FFFFFF;
}


/*-----------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------*/


.browse {
    margin: 0;
}
.browse_categories {
    background-color: #2B2B2B;
    max-width: 1280px;
    min-height: 928px;
    margin: auto;

}
.categories {
    height: 316px;
    width: 240px;
    background-color: #3B3B3B;
    border-radius: 20px;
    display: inline-block;
}
.category {
    margin: 20px 30px;
}
.categories_rows {
    gap: 30px;
}


/*-----------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------*/


.discover_more_nfts {
    background-color: #2B2B2B;
    max-width: 1280px;
    min-height: 780px;
    margin: auto;
}
.see_all {
    margin-left: 162px;
    margin-top: 31px;
    display: inline-block;
}
.nft_card {
    height: 469px;
    width: 330px;
    background-color: #3B3B3B;
    border-radius: 20px;
    display: inline-block;
}
.discover_nft_info {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 25px;
}
.avatar {
    margin-top: 5px;
    gap: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    display: flex;
}
.more_nfts_info{
    margin-top: 25px;
    min-width: 270px;
    justify-content: space-between;
}
.aboveline {
    margin-bottom: 8px;
    font-family: "Space Mono";
    font-weight: 400;
    font-size: 12px;
    line-height: 13.2px;
    color: #858584;
}
.left_info{
    display: block;
}
.right_info {
    display: block;
    text-align: right;
}
.price {
    font-size: 16px;
    font-weight: 400;
    font-family: "Space Mono";
    line-height: 22.4px;
}



